body {
    background-color: #ca8383;
    background-image: linear-gradient(315deg, #6d2e2e 0%, #f6f2f2 74%);
}

#gap {
    display: flexbox;
    height: 100px;
    align: center;
    width: 100%;
    margin: auto;
}


/* Style CSS for navbar Starts here */

.navbar {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background: -webkit-linear-gradient(59deg, rgb(95, 32, 35), rgb(87, 2, 13));
    background: linear-gradient(59deg, rgb(233, 174, 192), rgb(77, 15, 18));
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: rgb(87, 2, 13);
}

.row {
    width: 100%;
}

.cols {
    width: 100%;
    /* display: flex;*/
}


/* Style CSS for navbar ends here */


/* Style CSS for top page logo image here */

.h1style {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}